@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid #eee;
  transition: 0.1s ease-in-out border
}

input:focus {
  outline: none !important;
  border: 2px solid rgb(16 185 129);
}
